.ContactNavItemContainer {
    height: fit-content;
    transition: 250ms;
    padding-left: 10px;
    padding-right: 10px;
}

.ContactNavItemContainer:hover {
    transform: translateY(-3px);
    transition: 250ms;
}

.ContactNavItem {
    padding: 10px;
    border: 2px #7b91ff solid;
    font-family: sans-serif;
    font-size: 1.3rem;
    border-radius: 10px;
    cursor: pointer;
    transform: translateY(0px);
    transition: 250ms;
    white-space: nowrap;
}

.ContactNavItem:hover {
    background-color: #7b91ff;
    transition: 250ms;
}